@font-face {
  font-family: Rubik;
  src: url('~styles/fonts/rubik-light-webfont.eot') format('eot'),
       url('~styles/fonts/rubik-light-webfont.woff') format('woff'),
       url('~styles/fonts/rubik-light-webfont.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Rubik;
  src: url('~styles/fonts/rubik-regular-webfont.eot') format('eot'),
       url('~styles/fonts/rubik-regular-webfont.woff') format('woff'),
       url('~styles/fonts/rubik-regular-webfont.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url('~styles/fonts/rubik-bold-webfont.eot') format('eot'),
       url('~styles/fonts/rubik-bold-webfont.woff') format('woff'),
       url('~styles/fonts/rubik-bold-webfont.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: Fira Mono;
  src: url('~styles/fonts/FiraMono-Regular.eot') format('eot'),
       url('~styles/fonts/FiraMono-Regular.woff') format('woff'),
       url('~styles/fonts/FiraMono-Regular.woff2') format('woff2');
  font-weight: 500;
}

@mixin font() {
  font-family: 'Rubik', sans-serif;
}

@mixin font-monospace() {
  font-family: 'Fira Mono', monospace;
}

.podlove {
  font-size: 14px;
  font-weight: 300;
}
